/* sidebar */
[class*="sidebar-dark-"].sidebar a {
    color: #000;
}
tbody tr td input {
    border: none !important;
    width: 100%;
    outline: none !important;
    text-align: center;
}
section.bottom.fix {
    position: fixed;
    bottom: 15px;
}
.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
    color: #333;
    font-weight: bold !important;
    font-family: "Nunito", sans-serif !important;
    background: #fff;
    text-transform: uppercase;
}
.card-body.p-0 .table tbody > tr > td:first-of-type,
.card-body.p-0 .table tbody > tr > th:first-of-type,
.card-body.p-0 .table tfoot > tr > td:first-of-type,
.card-body.p-0 .table tfoot > tr > th:first-of-type,
.card-body.p-0 .table thead > tr > td:first-of-type,
.card-body.p-0 .table thead > tr > th:first-of-type {
    padding-left: 0;
    padding-right: 0;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.card-body.p-0 .table tbody > tr > td:last-of-type,
.card-body.p-0 .table tbody > tr > th:last-of-type,
.card-body.p-0 .table tfoot > tr > td:last-of-type,
.card-body.p-0 .table tfoot > tr > th:last-of-type,
.card-body.p-0 .table thead > tr > td:last-of-type,
.card-body.p-0 .table thead > tr > th:last-of-type {
    padding-right: 0;
}
.table td,
.table th {
    padding: 0;
    vertical-align: top;
    border: 1px solid #dee2e6;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    /* max-width: 50px; */
}
.input-group.over {
    width: 119px;
    /* margin-right: 0; */
}
td.lotcolor {
    width: 265px;
}
td.lotsize {
    width: 90px;
}
.icon {
    font-size: 12px;
    font-weight: 900;
    color: rgba(11, 93, 112, 1);
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
    height: 20px;
}
.content-wrapper.iframe-mode .btn-iframe-close {
    color: red;
    position: absolute;
    line-height: 1;
    right: 0;
    top: 0;
    z-index: 10;
    visibility: hidden;
    padding-right: 3px;
}
.input-group.due {
    width: 91px;
}
.webix_dtable div.webix_ss_vscroll_header {
    /* border-bottom-color: #5ccce7; */
    display: none;
}
#datatable1665718895212 .webix_cell {
    height: 25px !important;
    line-height: 25px !important;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    /* font-size: 1rem; */
    /* font-weight: 400; */
    /* line-height: 12px; */
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    /* border-radius: 0.25rem; */
    height: 22px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
button.btn {
    margin-left: 5px;
    height: 25px;
    padding-top: 3px;
}
.justify-content-between {
    justify-content: center !important;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 1rem;
}
.table {
    width: 100%;
    margin-bottom: 0;
    color: #212529;
    background-color: transparent;
}
.modal-lg,
.modal-xl {
    max-width: 98%;
}
.drp-buttons {
    display: none !important;
}
/* .main-sidebar, .main-sidebar::before {
    width: 200px !important;
    transition: margin-left 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
} */

/* body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 200px;
    border-left: 1px solid #dee2e6;
} */
/* .sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: calc(190px - 0.5rem * 2) !important;
    transition: width ease-in-out .3s;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #007bff !important;
    background-color: #fff !important;
}
a.brand-link {
    width: 200px !important;
    border-bottom: 1px solid #dee2e6;
    text-align: center; */
/* border-right: 1px solid #dee2e6; */
/* }
i.nav-icon.fas.fa-cart-arrow-down{
    font-size: 13px !important;
}

.nav-sidebar .nav-link p {
    display: inline;
    margin: 0;
    white-space: normal;
    font-size: 13px !important;
}
span.brand-text.font-weight-light {
    font-size: 16px;
}
.brand-link:hover {
    color: #000 !important;
    text-decoration: none;
}
.brand-link{
    color: #000 !important;
    text-decoration: none;
} */
.btn:hover {
    color: #fff;
    text-decoration: none;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 116px;
    font-size: 12px;
}
.form-group {
    margin-bottom: 1rem;
    display: inline-flex;
    margin: 7px;
    margin-top: 0;
    margin-bottom: 0;
}
/* label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
    width: 75px;
} */
.col-form-label {
    font-weight: 400 !important;
    width: 74px;
    font-family: "Nunito", sans-serif !important;
    color: #333 !important;
    text-transform: capitalize !important;
    position: relative;
    top: 2px;
}
.card {
    background-color: #f5f5f5;
}
label.col-form-label.slabel {
    width: 50px;
}
.input-group.s-input {
    width: 82px;
}
.input-group.a-input {
    width: 290px;
}
input#inputamt {
    min-width: 140px;
    margin-left: 10px;
}
input#inputtax {
    margin-bottom: 7px;
    margin-left: 10px;
}
.input-group.a-input {
    width: 220px;
}
input#tax {
    max-width: 100px;
}

.input-group.l-input {
    width: 120px;
}
.col-form-label {
    padding-top: 1px !important;
    /* padding-bottom: calc(0.375rem + 1px); */
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.5;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.25rem + 2px);
    padding: 0;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 4.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    /* text-transform: uppercase; */
}
.demo-btn {
    padding-left: 5px;
    padding-bottom: 6px;
    margin-top: -11px;
}
thead {
    height: 25px;
}
section.content {
    padding-top: 10px;
    min-height: 75%;
}
button.btn {
    background: rgba(11, 93, 112, 1);
    color: #fff;
    font-size: 12px;
}
.input-group-l {
    width: 310px;
}
.input-group-b {
    width: 267px;
}
.input-group.f-input {
    width: 170px;
}
.fa-input {
    width: 165px;
}
.searce-btn {
    margin: auto;
    text-align: center;
}
.end-btn {
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}
/* input[type="number"] {
    width: 40px;
    font-size: 12px;
} */
input.form-control.two {
    width: 60px;
}
input.form-control.three {
    width: 90px;
}
div#reservationdate {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 170px;
    height: 33px;
    margin-right: 0;
}
.input-group-t {
    max-width: 90px;
}
.input-group.s-input {
    width: 218px;
}
.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px !important;
}
.input-group.a-input.col-form-label.slabel {
    top: -4px;
}
.input-group.a-input.col-form-label.slabel {
    /* padding-left: 6px; */
    width: 134px;
}
.input-group.l-input {
    width: 160px;
}
.webix_dtable .webix_ss_body .webix_column > div,
.webix_dtable .webix_ss_body .webix_table_cell {
    border-right-color: #edeff0;
    border-left-color: #edeff0;
}
.webix_ss_vscroll.webix_vscroll_y {
    margin-top: 35px !important;
    height: 165px;
}
.input-group.ba-input {
    width: 80px;
    margin-left: 10px;
}
.webix_ss_header,
.webix_hcolumn,
.webix_ss_vscroll_header,
.webix_dd_drag_column,
.webix_hs_left,
.webix_hs_center,
.webix_hs_right {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #313131;
    letter-spacing: 0.2px;
    background: #f4f5f9;
    max-height: 35px;
}
.webix_view {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #475466;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    overflow: hidden;
    border: 0px solid #dadee0;
    background-color: #ffffff;
    white-space: normal;
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
input.form-control.no {
    width: 200px !important;
}
input#inputamt {
    margin-left: 10px;
    min-width: 140px;
}
/* @media only screen and (min-width: 800px) and (max-width: 1100px) {
    .input-group-l {
        width: 180px;
    }
    .input-group-b {
        width: 160px;
    }
    input#inputamt {
        margin-left: 48px;
        min-width: 160px;
    }
    .input-group.a-input.col-form-label.slabel {
        padding-left: 48px;
        width: 163px;
    }
    .input-group.l-input {
        width: 80px;
    }
    textarea.form-control {
        height: 50px;
    }
    input#inputtax {
        left: 0;
        margin-bottom: 7px;
    }
    input#inputbrok {
        left: 70px;
        margin-bottom: 7px;
    }
    label.col-form-label.blabel {
        width: 69px;
    }
    input#inputtax {
        min-width: 120px;
        margin-left: 0px;
        margin-top: 7px;
    }
    input#tax {
        min-width: 160px;
    }
    .input-group-t {
        width: 160px;
    }
    .input-group.a-input {
        width: 183px;
    }
    .input-group.s-input {
        width: 180px;
    }
    div#reservationdate {
        width: 97px;
    }
    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 180px;
        font-size: 12px;
    }
    .input-group.over {
        width: 180px;
        margin-right: -17px;
    }
} */

@media only screen and (min-width: 500px) and (max-width: 780px) {
    .input-group-l {
        width: 180px;
    }
    .input-group-b {
        width: 180px;
    }
    label.col-form-label.slabel.text-center {
        text-align: left !important;
    }
    .input-group.a-input.col-form-label.slabel {
        padding-left: 48px;
        width: 163px;
    }
    .input-group.l-input {
        width: 210px;
    }
    textarea.form-control {
        height: 50px;
    }
    input#inputtax {
        left: 0;
        margin-bottom: 7px;
        margin-top: 7px;
    }
    input#inputbrok {
        margin-bottom: 7px;
    }
    .form-group {
        margin-bottom: 1rem;
        display: inline-flex;
        margin: 7px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 180px;
        font-size: 12px;
    }
    .input-group-t {
        width: 180px;
    }
    label.col-form-label.slabel {
        width: 76px;
    }
    label.col-form-label.blabel {
        width: 80px;
    }
    .input-group.s-input {
        width: 180px;
    }
    .input-group.over {
        width: 180px;
        margin-right: -17px;
    }
    div#reservationdate {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 182px;
        height: 33px;
        margin-right: 0;
    }
    input#inputamt {
        margin-left: 5px;
        min-width: 180px;
        margin-bottom: 8px;
    }
    .input-group.a-input {
        width: 175px;
    }
    input#tax {
        max-width: 180px;
    }
    .card-body.table-responsive.p-0.fixtabel {
        height: 400px !important;
    }
    section.bottom.fix {
        position: relative;
        bottom: 15px;
    }
}
@media only screen and (min-width: 350px) and (max-width: 500px) {
    .input-group-l {
        width: 180px;
    }
    .input-group-b {
        width: 180px;
    }
    label.col-form-label.slabel.text-center {
        text-align: left !important;
    }
    .input-group.a-input.col-form-label.slabel {
        padding-left: 48px;
        width: 163px;
    }
    .input-group.l-input {
        width: 170px;
    }
    textarea.form-control {
        height: 50px;
    }
    input#inputtax {
        left: -9px;
        margin-bottom: 7px;
        min-width: 180px;
    }
    .input-group.over {
        width: 180px;
        margin-right: -17px;
    }
    .input-group.s-input {
        width: 180px;
    }
    input#tax {
        min-width: 180px;
        margin-bottom: 7px;
    }
    input#inputbrok {
        margin-bottom: 7px;
    }
    .form-group {
        margin-bottom: 1rem;
        display: -webkit-box;
        margin: 7px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 180px;
        font-size: 12px;
    }
    .input-group-t {
        width: 180px;
    }
    label.col-form-label.slabel {
        width: 79px;
    }
    label.col-form-label.blabel {
        width: 79px;
    }
    div#reservationdate {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 180px;
        height: 33px;
        margin-right: 0;
    }
    .input-group.f-input {
        width: 180px;
    }
    input#inputamt {
        margin-left: 77px;
        min-width: 180px;
        margin-bottom: 8px;
    }
    .card-body.table-responsive.p-0.fixtabel {
        height: 400px !important;
    }
    section.bottom.fix {
        position: relative;
        bottom: 15px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 350px) {
    .input-group-l {
        width: 170px;
    }
    .input-group-b {
        width: 170px;
    }
    label.col-form-label.slabel.text-center {
        text-align: left !important;
    }
    .input-group.a-input.col-form-label.slabel {
        padding-left: 48px;
        width: 163px;
    }
    .input-group.l-input {
        width: 135px;
    }
    textarea.form-control {
        height: 50px;
    }
    input#inputtax {
        left: -9px;
        margin-bottom: 7px;
        min-width: 170px;
    }
    .input-group.over {
        width: 170px;
        margin-right: -17px;
    }
    .input-group.s-input {
        width: 170px;
    }
    input#tax {
        min-width: 170px;
        margin-bottom: 7px;
    }
    input#inputbrok {
        margin-bottom: 7px;
    }
    .form-group {
        margin-bottom: 1rem;
        display: -webkit-box;
        margin: 7px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 170px;
        font-size: 12px;
    }
    .input-group-t {
        width: 170px;
    }
    label.col-form-label.slabel {
        width: 79px;
    }
    label.col-form-label.blabel {
        width: 79px;
    }
    div#reservationdate {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 170px;
        height: 33px;
        margin-right: 0;
    }
    .input-group.f-input {
        width: 170px;
    }
    input#inputamt {
        margin-left: 77px;
        min-width: 170px;
        margin-bottom: 8px;
    }
    .input-group.a-input {
        width: 170px;
    }
    .card-body.table-responsive.p-0.fixtabel {
        height: 400px !important;
    }
    section.bottom.fix {
        position: relative;
        bottom: 15px;
    }
}
@import "compass/css3";

.table-editable {
    position: relative;
}

.glyphicon {
    font-size: 20px;
}

.table-remove {
    color: #700;
    cursor: pointer;
}
.table-remove:hover {
    color: #f00;
}

.table-up,
.table-down {
    color: #007;
    cursor: pointer;
}
.table-up,
.table-down:hover {
    color: #00f;
}

.table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
}
.table-add:hover {
    color: #0b0;
}
.card-body.table-responsive.p-0.fixtabel {
    height: calc(100vh - 345px);
}
input:read-only {
    cursor: default;
    background-color: #fafafa;
}
